environment {
  LANG "zh_CN.UTF-8"
  XDG_MENU_PREFIX "arch-"
  QT_QPA_PLATFORM "wayland"
  QT_QPA_PLATFORMTHEME "qt6ct"
  ELECTRON_OZONE_PLATFORM_HINT "auto"

  ######
  QT_IM_MODULE "fcitx"
  QT_IM_MODULES "wayland;fcitx;ibus"
  XMODIFIERS "@im=fcitx"
  ######
}
