
prefer-no-csd

window-rule {
  geometry-corner-radius 16
  clip-to-geometry true
  draw-border-with-background false
  focus-ring
}

window-rule {
  match app-id="firefox$"
  match app-id="zen-browser$"
  match app-id="chromium$"
  match app-id="emacs$"
  open-maximized-to-edges true
}

layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}

debug {
  honor-xdg-activation-with-invalid-serial 
}

cursor {
  // xcursor-theme "breeze_cursors"
  xcursor-size 24
}

